body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* Compense la ligne blanche en bas des images (artefact provenant des navigateurs)*/
img {
    vertical-align: middle;
}

/* Header */
header {
    color: white;
}

header section {
    text-align: center;
    position: relative;
}

header section img {
    width: 100%;
}

.la-globe {
    font-weight: 700;
    font-size: 150px;
    color: rgb(150, 150, 150);
}

header section div {
    position: absolute;
    left: 50%;
}

header section div:first-of-type {
    top: 50%;
    transform: translate(-50%, -50%);
}

header section div+div {
    bottom: 10%;
    transform: translateX(-50%);
}

header section div>h1,
header section div>h2,
header section div>a {
    display: none;
}

/* Navigation */
nav {
    background-color: #0fcabf;
    padding: 36px;
    /* text-align: center; */
    /* padding: 0 15% 0 15%; */
}

nav h1 {
    font-family: 'Paytone One', sans-serif;
    text-align: center;
}

nav ul {
    display: none;
}

nav select {
    /* margin:auto; */
    width: 100%;
    height: 30px;
    border: none;
}

/* page About us */
main>section {
    text-align: center;
    padding: 36px;
}

main>section h1 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 2rem;

    position: relative;
    display: inline-block;
}

main>section h1::before { /* pseudo element placé avant le texte dans h1 */
    content: ''; /* proprété obligatoire */
    width: 100%;
    height: 3px;
    position: absolute;
    background-image: linear-gradient(to right, #0fcafb, white) ;
    bottom:0;
    left:0;  /* montre l'effet de width:100% lorsque display n'est pas en inline*/
    right: 0; /* montre l'effet de width:100% lorsque display n'est pas en inline*/
}

main>section h1::after { /* pseudo element placé après le texte dans h1 */
    content: ''; /* proprété obligatoire */
}


main>section h2 {
    color: rgba(0, 0, 0, 0.4);
    font-size: 1.4rem;
    font-weight: 500;
}

main>section article {
    text-align: left;
    color: rgba(0, 0, 0, 0.4);
    font-size: 1rem;
}

main>section article p>a {
    color: rgb(15, 202, 191);
    text-decoration: none;
}

.bar {
    width: 100%;
    margin-bottom: 10px;
    background: linear-gradient(-45deg, rgb(231, 231, 231) 25%, rgb(239, 239, 239) 25%, rgb(239, 239, 239) 50%, rgb(231, 231, 231) 50%, rgb(231, 231, 231) 75%, rgb(239, 239, 239) 75%, rgb(239, 239, 239));
    background-size: 10px 10px;
    /* ou alors background: repeating-linear-gradient(45deg, #3f87a6, #ebf8e1 15%, #f69d3c 20%); */
}

.bar p {
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 1rem;
    text-transform: uppercase;
}

.bar span {
    display: none;
}

.jaune,
.orange,
.bleu {
    box-sizing: border-box;
    /* On  peut aussi utiliser la fonction calc(X%, Ypx) 
    voir*/
    padding: 10px;
}

.jaune {
    width: 54%;
    /* au lieu d'utiliser box-sizing */
    /* calc(54%) - 10% */
    background-color: rgba(245, 207, 86, 0.8);
}

.orange {
    width: 73%;
    background-color: rgba(252, 140, 50, 0.8);
}

.bleu {
    width: 87%;
    background-color: rgba(88, 206, 232, 0.8);
}

/* Page Why choose us */
main section:nth-of-type(2) {
    padding: 36px 36px 0 36px;
    background-image: url('../images/parallax_01.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main section:nth-of-type(2) img {
    width: 100%;
}

main section:nth-of-type(2) h1 {
    color: white;
}

main section:nth-of-type(2) h2 {
    color: white;
    font-weight: 500;
    padding-bottom: 75px;
}

/* Page Robert Adams */
main section:nth-of-type(3) {
    padding: 72px 36px 36px 36px;
    background-color: #333333;
}

main section:nth-of-type(3) div {
    display: flex;
    justify-content: space-around;
    padding: 0 15% 0 15%;
}

main section:nth-of-type(3) div img {
    border-radius: 50%;
}

main section:nth-of-type(3) blockquote {
    display: flex;
    flex-wrap: wrap;
}

main section:nth-of-type(3) blockquote p {
    color: #909090;
    text-align: left;
    order: 2;
}

main section:nth-of-type(3) blockquote>footer {
    color: #0fcabf;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    order: 1;
}

/* Services */
main section:nth-of-type(4) {
    padding: 72px 36px 72px 36px;
}

main section:nth-of-type(4) article {
    text-align: center;
}

main section:nth-of-type(4) article h1 {
    font-size: 1.1rem;
    text-transform: uppercase;
}

.la-magic,
.la-cog,
.la-headset,
.la-volume-up {
    color: rgba(0, 0, 0, 0.8);
    font-size: 3rem;
}

main section:nth-of-type(4) div article a {
    text-decoration: none;
}

/* Page Our news */
main section:nth-of-type(5) {
    background-color: #f7f7f7;
    padding: 72px 36px 0 36px;
}

main section:nth-of-type(5) div h3 {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
}

main section:nth-of-type(5) p {
    text-align: left;
}

main section:nth-of-type(5) time {
    color: #0fcabf;
    font-weight: 600;
}

main section:nth-of-type(5) img {
    width: 100%;
}

/* Page contacts */
main section:nth-of-type(6) {
    background-color: #0fcabf;
}

main section:nth-of-type(6) h1 {
    color: rgba(256, 256, 256);
}

main section:nth-of-type(6) div {
    display: flex;
}

main section:nth-of-type(6) label {
    flex: 1;
    background-color: white;
    height: 4rem;
    margin-top: 2px;
    margin-bottom: 2px;
    color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    text-align: center;
}

main section:nth-of-type(6) input,
main section:nth-of-type(6) textarea {
    flex: 4;
    border: none;
    margin-top: 2px;
    margin-bottom: 2px;
}

form div:nth-child(4) label {
    height: 7rem;
}

main section:nth-of-type(6) button {
    border: none;
    background-color: rgb(33, 126, 121);
    color: white;
    width: 100%;
    height: 4rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 2px;
    margin-bottom: 50px;
}

/* Bas de page */
body>footer {
    padding: 36px 36px 36px 36px;
    text-align: center;
}

body>footer h1 {
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(0, 0, 0, 0.8);
}

body>footer p {
    color: rgb(0, 0, 0, 0.8);
}


body>footer a {
    text-decoration: none;
    color: rgb(0, 0, 0, 0.8);

}

/* Fin vue mobile */

/* Vue tablette */
@media screen and (min-width: 768px) {
    header nav select {
        display: none;
    }

    header nav ul {
        display: flex;
        justify-content: space-around;
        margin: 50px 70px 0 70px;
        padding: 0px;
    }

    header nav ul li {
        list-style: none;
    }

    header nav ul a {
        color: white;
        text-decoration: none;
        font-weight: 600;
        font-size: 1.2rem;
    }

    header nav ul li:first-child a {
        color: black;
    }

    main section:first-of-type>div {
        display: flex;
    }

    main section:first-of-type>div article {
        flex: 1;
    }

    main section:first-of-type>div aside {
        flex: 1;
    }

    main section:nth-of-type(3) blockquote {
        flex-wrap: wrap;
        justify-content: stretch;
        margin-left: 0;
        margin-right: 0;
    }

    main section:nth-of-type(3) blockquote footer {
        flex: 1;
        margin-top: 16px;
    }

    main section:nth-of-type(3) blockquote p {
        flex: 3;
        border-left: 4px solid rgba(256, 256, 256, 0.1);
        padding-left: 30px;
    }

    main section:nth-of-type(4)>div {
        display: flex;
        justify-content: space-between;
    }

    main section:nth-of-type(4)>div article {
        width: 22%;
    }

    main section:nth-of-type(5)>div {
        display: flex;
        justify-content: space-between;
    }

    main section:nth-of-type(5)>div article {
        width: 31%;
    }

    main section:nth-of-type(6) form {
        width: 60%;
        margin: auto;
    }
}/*Fin vue tablette*/

/* Vue desktop */
/* @media screen and (min-width: 1200px){

    header section div>h1,header section div>h2,header section div>a {
        display: inline;
    }
} */